python==3.9.12
Pygments==2.11.2
Pygments==2.15.0
baselines==0.1.5
cryptography==3.4.8
d2l==0.17.5
deepctr==0.9.3
graphviz==0.20.1
gym-notices==0.0.8
gym==0.17.0
hyperlink==21.0.0
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.3
jupyterlab-widgets==1.0.0
jupyterlab==3.3.2
keras==2.11.0
ma-gym==0.0.5
mdurl==0.1.2
networkx==2.8
onnx==1.13.1
pycurl==7.44.1
pyglet==1.5.0
safetensors==0.6.2
tensorboard-data-server==0.6.1
tensorboard-logger==0.1.0
tensorboard-plugin-wit==1.8.1
tensorboard==2.11.0
tensorboardX==2.5.1
tensorflow-estimator==2.11.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.28.0
tensorflow==2.11.0
torch-cluster==1.6.0+pt112cu113
torch-scatter==2.1.0+pt112cu113
torch-sparse==0.6.16+pt112cu113
torch-spline-conv==1.2.1+pt112cu113
torch==1.12.1+cu113
torch_geometric==2.4.0
torchaudio==0.12.1+cu113
torchinfo==1.8.0
torchvision==0.13.1+cu113
torchviz==0.0.2
transformers==4.57.1
urllib3==1.26.20
yarl==1.6.3
